.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 5vh;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img{
  max-width: 300px;
  max-height: 200px;
  margin: 5px;
}

a{
  color: darkblue;
}

a:hover{
  color: #61dafb;
}

a:active{
  color: crimson;
}

.MuiCardMedia-img{
  object-fit: fill !important;
}

img{
  max-width: none !important;
  max-height: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
